*.iml
.gradle/
.idea/
build/
local.properties
captures/
.externalNativeBuild/
.cxx/
app/build/
*.apk
*.aab
build_log.txt
*.jks
*.keystore
keystore.properties
.DS_Store
Thumbs.db
*.log
adb_logs*.txt
audio_flinger_*.txt
